.main-prop {

            margin: 0;
            padding: 0;
        }
        .container-prop {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        h1, h2 {
            margin-top: 0;
        }
        .carousel-container {
            position: relative;
            max-width: 100%;
            overflow: hidden;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .carousel {
            display: flex;
            transition: transform 0.5s ease;
        }

        .carousel-image {
            flex: 0 0 auto;
            width: 100%;
            height: auto;
        }

        .carousel-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
        }
        .prev-btn {
            left: 10px;
        }

        .next-btn {
            right: 10px;
        }

     /* style p icon de favorito nao preenchido */
    #favorite-icon {
        position: absolute;
        top: 145px; /* Adjust this value to position the star vertically */
        right: 600px; /* Adjust this value to position the star horizontally */
        color: gold; /* Change the color of the star */
        transition: transform 0.3s ease; /* Add transition for smooth animation */
        cursor: pointer; /* Add cursor pointer to indicate interactivity */
    }

    #favorite-icon:hover {
        transform: rotate(-30deg) scale(1.2); /* Scale and rotate the star on hover */
    }

    /* style p icon de favorito preenchido */
    #favorite-icon-fill {

        position: absolute;
        top: 145px; /* Adjust this value to position the star vertically */
        right: 600px; /* Adjust this value to position the star horizontally */
        color: gold; /* Change the color of the star */
        transition: transform 0.3s ease; /* Add transition for smooth animation */
        cursor: pointer; /* Add cursor pointer to indicate interactivity */
    }

    #favorite-icon-fill:hover {
        transform: rotate(-30deg) scale(1.2); /* Scale and rotate the star on hover */
    }