{% extends 'romax/base_page.html' %}

{% block css_of_rest_of_page %}
    #criar_conta {
        padding-top: 2.5%;
        margin-left: 15%;
        width : 70%;

        & #submeter_div{
            display: flex;
            justify-content: end;
        }
    }
{% endblock %}

{% block rest_of_page %}
<h1 style="color: red">pfp se sim por no form </h1>
<form id="criar_conta" action="{% url 'romax:criar_conta' %}" method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
    <h1>Criar conta</h1>
  <div class="mb-3">
        <label for="nome-completo" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" id="nome-completo" required name="nome-completo" maxlength="{{ MAX_NAME_LEN }}" pattern="{{ NOME_COMPLETO_REGEX_FORMAT }}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Endereço de Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="row">
        <div class="col">
            <label for="telemovel" class="form-label">Número de Telemovel</label>
            <input type="tel" class="form-control" id="telemovel" name="telemovel"
                   pattern="{{ TELEMOVEL_REGEX_FORMAT }}" required placeholder="9XX XXX XXX">
            <div class="form-text">
                Por favor, não inclua o indicativo do país
            </div>
        </div>
        <div class="col">
            <label for="idade" class="form-label">Idade</label>
            <input type="number" class="form-control" id="idade" name="idade"
            min="18" max="122">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="form-label" for="NIF">NIF</label>
            <input class="form-control" type="text" value=""  id="NIF" name="NIF" required pattern="{{ NIF_OR_CC_REGEX_FORMAT }}">
        </div>
        <div class="col">
            <label class="form-label" for="CC">Cartão de Cidadão</label>
            <input class="form-control" type="text" value=""  id="CC" name="CC" required pattern="{{ NIF_OR_CC_REGEX_FORMAT }}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-check">
                <label class="form-check-label" for="tem-animais">Tem animais?</label>
                <input class="form-check-input" type="checkbox" id="tem-animais" name="tem-animais">
            </div>
        </div>
        <div class="col">
            <label for="Estado-Civil" class="form-label">Estado Civil</label>
            <select class="form-select"  id="Estado-Civil" name="Estado-Civil">
                <option selected></option>
                {% for id, estado_civil in ESTADOS_CIVIS.items %}
                <option value="{{ id }}">{{ estado_civil }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password_criar_conta_form" name="password">
    </div>

    <div class="mb-3">
        <label for="password-repitida" class="form-label">Repita a Password</label>
        <input type="password" class="form-control" id="password-repitida">
    </div>
    <div class="mb-3" id="submeter_div" >
        <button type="submit" class="btn btn-primary">Criar conta</button>
    </div>
</form>
<script>
    const FORM = document.getElementById('criar_conta');

    function check_str_for(str, test){
        for(c of str){
            if (test(c))
                return true;
        }
        return false;
    }

    const has_digit = password =>  check_str_for(password, (c) =>  '0' <=c && c <='9' );
    const has_upper = password =>  check_str_for(password, (c) => 'A' <= c && c <= 'Z' );
    const has_lower = password =>  check_str_for(password, (c) => 'a' <= c && c  <= 'z' );

    const symbols_allowed = '|\\!"@#£$§%€&/{()[]=}?\';,:.\\-_*+ºª´`~^'
    const has_symbol = password => check_str_for(password, (c) => symbols_allowed.includes(c) );
    FORM.addEventListener('submit',
        event => {
            const password = document.getElementById('password_criar_conta_form').value
            const password_repited = document.getElementById('password-repitida').value
            const password_valid = password_repited === password &&
                password.length >= {{ PASSWORD_LEN }} &&
                has_upper(password) &&
                has_lower(password) &&
                has_symbol(password)  &&
                has_digit(password)
            if (!FORM.checkValidity() || !password_valid) {
                FORM.reportValidity()
                event.preventDefault()
                event.stopPropagation()
              }
        }, false)
</script>
{%  endblock %}
