{% extends 'romax/base_page.html' %}


{% block css_of_rest_of_page %}


    .outer-container {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }


    h1 {
        color: #333;
        font-size: 28px;
        margin-bottom: 20px;
    }

    h3{
        color: #333;
        font-size: 16px;
        margin-bottom: 10px;
    }

    form {
        margin-top: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #ff5500;
        color: #fff;
        border: none;
        padding: 12px 24px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
        background-color: #e04400;
    }

    /* Avatar Styles */
    .avatar-container {
        margin-top: 10px;
        position: relative;
    }

    .avatar-preview {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 10px;
        background-color: #f0f0f0;
        position: absolute;
        top: -30px;
        right: 55px;
        border: 1px solid black;
        box-sizing: border-box;
    }

    .avatar-preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .avatar-upload {
        display: none;
    }

    .avatar-upload-label {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: inline-block;
    }

    .avatar-upload-label:hover {
        background-color: #0056b3;
    }

     .avatar-preview:hover .change-icon {
       visibility: visible;
    }
    .change-icon {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
    }


{% endblock %}


{% block rest_of_page %}
<div class="outer-container">
    <div class="container">
        <h1>Informações do Utilizador</h1>

        <div class="avatar-container">
                <div class="avatar-preview">

                    {% if request.user.cliente.urlprofilepic %}

                        <a>
                            <img src="{{ request.user.cliente.urlprofilepic }}" width="100px" height="auto">
                        </a>
                        <span class="change-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
  <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
  <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
</svg>
                </span>

                    {% else %}
                        <a>
                            <img src="/romax/static/media/Logo.png" width="100px" height="auto">
                        </a>

                    {% endif %}

                </div>
        </div>

        <div>
            <h3>Email: {{ request.user.email }}  </h3>
            <h3>Nome: {{ request.user.cliente.nomeCompleto }}</h3>
            <h3>Idade: {{ request.user.cliente.idade }}</h3>
            <h3>Estado Civil: {% if request.user.cliente.estadoCivil == 1 %}
                    Solteiro
                {% elif request.user.cliente.estadoCivil == 2 %}
                    Casado
                {% elif request.user.cliente.estadoCivil == 3 %}
                    Viúvo
                {% elif request.user.cliente.estadoCivil == 4 %}
                    Divorciado
                {% else %}
                    Separado judicialmente de pessoas e bens
                {% endif %}
            </h3>
            <h3>Possui animais: {% if request.user.cliente.animais == 1 %}
                                    sim
                                {% else %}
                                    nao
                                {% endif %}
            </h3>
            <h3>Telemovel: {{ request.user.cliente.telemovel }}</h3>
        </div>



            <div class="casas-gostadas">
                <h3>Casas que você gostou:</h3>
                <p>blablablabla</p>
            </div>

            <div class="wrap">
                <a href="{% url 'romax:landing_page' %}">
                    <button type="submit">Voltar à página inicial</button>
                </a>
            </div>

    </div>
</div>

{% endblock %}