{% extends 'romax/base_page.html' %}

{% block css_of_rest_of_page %}


    .main_nav{
        padding: 50px 0;
    }

    .main_nav form{
        background-color: #fff;
        max-width: 1200px;
        width:70%;
        margin: auto;
        padding: 50px 70px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    }

    .main_nav .form_block{
        text-align: center;
        background-color: #5891ff;
        border-radius: 50%;
        font-size: 40px;
        color: white;
        width: 100px;
        height: 100px;
        margin: auto;
        margin-bottom: 50px;
        line-height: 100px;
    }
    .main_nav .form_control {
        border-radius: 20px;
        margin-bottom: 25px;
        padding: 10px 20px;
    }

    .main_nav .titles{
        font-family: Arial, sans-serif;
        margin: 20px auto;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    .main_nav .mini_titles{
        font-family: Arial, sans-serif;
        padding-bottom: 60px;
        margin: 20px auto;
        border-radius: 5px;
        font-weight: bold;
        margin-bottom: 15px;
        padding-bottom:30px;
    }

    input{
        text-align:middle;
    }

{% endblock %}

{% block rest_of_page %}
    <body>
    <div class="main_nav">
        <form action="{% url 'romax:search_avancada_treat' %}" name="filtros" method="post">
            {% csrf_token %}
            <div>
                <h5 class="titles">Localização</h5>
                <label for="cidades" class="form-label">Cidade</label>
                <select class="form-select"  id="cidades" name="cidades">
                    <option selected value=''></option>
                    {% for id, cidade in CIDADES.items %}
                    <option value="{{ id }}">{{ cidade }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <h5 class="titles">Propriedade</h5>
                <label for="tipopropriedade" class="form-label">Tipo Propriedade</label>
                <select class="form-select"  id="tipopropriedade" name="tipopropriedade">
                    <option selected value=''></option>
                    {% for id, tipo in TIPOS_PROPRIEDADES.items %}
                    <option value="{{ id }}">{{ tipo }}</option>
                    {% endfor %}
                </select>

                <label for="subtipopropriedade" class="form-label">SubTipo Propriedade</label>
                <select class="form-select"  id="subtipopropriedade" name="subtipopropriedade">
                    <option selected value=''></option>
                    {% for id, subtipo in SUBTIPO_PROPRIEDADES.items %}
                    <option value="{{ id }}">{{ subtipo }}</option>
                    {% endfor %}
                </select>


                <label for="classeenergetica" class="form-label">Classe Energetica</label>
                <select class="form-select"  id="classeenergetica" name="classeenergetica">
                    <option selected value=''></option>
                    {% for id, classe in CLASSES_ENERGETICAS.items %}
                    <option value="{{ id }}">{{ classe }}</option>
                    {% endfor %}
                </select>
                <br>


                <span class="mini_titles">Nº WC's:</span>
                <br>
                <label for="minwc" class="label">Min:</label>
                <input type="number" class="form_control" id="minwc" name="minwc">
                <br>
                <label for="maxwc" class="label">Máx:</label>
                <input type="number" class="form_control" id="maxwc" name="maxwc">
                <br>

                <span class="mini_titles">Nº quartos:</span>
                <br>
                <label for="minquartos" class="label">Min:</label>
                <input type="number"  class="form_control" id="minquartos" name="minquartos">
                <br>
                <label for="maxquartos" class="label">Máx:</label>
                <input type="number" class="form_control" id="maxquartos" name="maxquartos">
                <br>

                <span class="mini_titles">Área:</span>
                <br>
                <label for="minarea" class="label">Min:</label>
                <input type="text" class="form_control" id="minarea" placeholder="m2" name="minarea">
                <label for="maxarea" class="label">Máx:</label>
                <input type="text" class="form_control" id="maxarea" placeholder="m2" name="maxarea">
                <br>


                <span class="mini_titles">Mobilado:</span>
                <br>
                <label for="mobilia" class="label">Sim</label>
                <input id="mobilia" type="radio" class="form_control" value="true">
                <label for="smobilia" class="label">Não</label>
                <input id="smobilia" type="radio" class="form_control" value="false">
                <br>




                <span class="mini_titles">Animais de estimação:</span>
                <br>
                <label for="animais" class="label">Sim</label>
                <input id="animais" type="radio" class="form_control" value="true">
                <label for="sanimais" class="label">Não</label>
                <input id="sanimais" type="radio" class="form_control" value="false">
            </div>
            <div>
                <h5 class="titles">Preço:</h5>
                <label for="minpreco" class="label">Min:</label>
                <input type="number" min="0" class="form_control" id="minpreco" placeholder="€">
                <label for="maxpreco" class="label">Máx:</label>
                <input type="number" min="0" class="form_control" id="maxpreco" placeholder="€">
            </div>
            <div>
                <h5 class="titles">Preço negociável:</h5>
                <label for="negociavel" class="label">Sim</label>
                <input id="negociavel" type="radio" class="form_control" value="true">
                <label for="snegociavel" class="label">Não</label>
                <input id="snegociavel" type="radio" class="form_control" value="false">
            </div>
            <div>
                <h5 class="titles">Ordenar:</h5>
                <select class="form_control" id="ordenar">
                    <option value="" disabled selected>Critério de ordenação</option>
                    <option value="0">Preço ascendente</option>
                    <option value="1">Preço descendente</option>
                    <option value="2">Maior área</option>
                    <option value="3">Menor área</option>
                    <option value="4">Mais recente</option>
                    <option value="5">Mais antigo</option>
                </select>
            </div>
            <input type="submit" class="submitButton" value="Procurar">
        </form>
    </div>
    <script>
        const minPriceInput = document.getElementById("minpreco");
        const maxPriceInput = document.getElementById("maxpreco");

        minPriceInput.addEventListener("change", function() {
          const newMinPrice = parseInt(this.value);
          if(newMinPrice > parseInt(maxPriceInput.value))
            maxPriceInput.value = newMinPrice
        });
    </script>
    </body>
{% endblock %}