{% extends 'romax/base_page.html' %}

{% block css_of_rest_of_page %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'romax/CSS/propriedade_notfound.css' %}">
{% endblock %}


{% block rest_of_page %}

        <div class="outer-container">
        <div class="container">
        <h1>Página não encontrada</h1>
        <p>Lamentamos, mas a propriedade que tentou procurar não está disponível de momento.</p>
        <p>Por favor, <a href="{% url 'romax:landing_page' %}">clique aqui</a> para voltar à página inicial</p>
    </div>
   </div>



{% endblock %}